html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
 overflow: hidden;
}

dialog { 
  text-align: center; 
}

canvas.fullscreen { 
  width: 100vw; 
  height: 100vh; 
}

div.overlay {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: aliceblue;
}

button{
  min-height: 50%;
  width: 50%;
  font-size: 48px;
  color: rgb(39, 39, 39);
  font-family:"Poppins";
}

#start{
  background-color: rgb(176, 237, 176);
}

#b1 {
  background-color: rgb(225, 210, 97);
}


#b2 {
  background-color: rgb(97, 212, 225);
}
#b1:hover , #b2:hover, #start:hover{
  background-color: rgb(238, 238, 238);
}